
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #279971;
  }

  .logo img {
    height: 50px;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; 
  } 
  .nav-links li {
    margin-left: 20px;
  }

  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .logo{
    size: 10%;
  }
 
.nav-box{
    display: inline-block;
    width: 100px;
    height: 60px;
    background-color: #cec6c6;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }

  
   .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h5,
.carousel-caption p {
    color: #fff;
}

.carousel {
    width: 100%;
    height: fit-content; 
}

.carousel-slide{
  height: fit-content;
}
.form-group{
  display: flex;
  padding: 10px;
}

.checks{
  display: flex;
}

.foot{
  display: flex;
  background-color: #279971;
}


input[type=text], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

th{
  background-color: #279971;
}

table,td {
	border: 1px solid black;
}